body {
    font-size: 18px;
    font-family: sans-serif;
}


header, footer {
    background-color: rgb(192, 225, 255);
}

.site-title {
    color: rgb(74, 127, 241);
}

#my-image {
    box-shadow: 0px 0px 2px 1px black;

}

ul {
    list-style:square;
}

#hobbies li:nth-child(odd) {
    background-color: #fedc7e;
}

a:link, a:visited {
    border: 8px solid #ffbf0e;
    color: rgb(0, 136, 255);
    padding: 7.5px 25px;
    text-align: center;
    text-decoration: none;
}

a:hover, a:active {
    background-color: rgb(0, 136, 255);
    color: #ffbf0e;
}